// conf/base.config

params {
    // Pipeline Options
    outdir = "results"
    enable_conda = false // Default to false; enable with '-profile conda'

    // Input Files
    // h5ad_input = "data/singlecell/tenk10k-ch.h5ad"
    h5ad_input = "results/preprocess_h5ad/filtered.h5ad"

    gwas_sumstats = "data/gwas/*.txt.gz"
    gencode_gtf = "data/reference/gencode.v38.annotation.gtf.gz"

    // Tool References
    magma_bin = "resources/magma"  // Path to MAGMA binary
    magma_top_pct = 0.1
    cell_type_column = 'wg2_scpred_prediction'
    magma_ref_panel = "data/reference/eur_w_ld_chr/GRCh38/plink_files/G1000plink-hg38"
    magma_gene_loc = "data/reference/eur_w_ld_chr/GRCh38/plink_files/NCBI38.gene.loc"
    ldsc_ref_dir = "data/reference/eur_w_ld_chr/GRCh38"
}

process {
    // Default resources, can be overridden by labels or in profiles
    cpus = 1
    memory = 6.GB
    time = '4h'

    errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : 'finish' }
    maxRetries = 2

    // Default publish directory for all processes
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

// Docker/Singularity/Podman configuration
docker.enabled = false
singularity.enabled = true
singularity.autoMounts = true
