// conf/pbs.config

process {
    executor = 'pbspro'
    project = 'tn36'
    storage = 'scratch/ei56+gdata/ei56+scratch/tn36+gdata/tn36+scratch/fy54+gdata/fy54'
    cache = 'lenient'
    module = "singularity"
    beforeScript = "module load singularity"
    scratch = true
    scratch = '/scratch/tn36/pa3687/tmp'
    queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }

    withName: 'PREPARE_GENE_COORDS' {
        cpus = 2
        memory = '9GB'
        time = '4h'
        disk = '5GB'
    }

    withName: 'RUN_CEPO' {
        cpus = 7
        memory = '256GB'
        time = '4h'
        disk = '100GB'
    }

    withName: 'CREATE_MAGMA_GENESET' {
        cpus = 2
        memory = '9GB'
        time = '4h'
        disk = '5GB'
    }

    withName: 'RUN_MAGMA' {
        cpus = 7
        memory = '32GB'
        time = '4h'
        disk = '16GB'
    }
    
    withLabel: low_mem {
        queue = 'normalbw'
        cpus = 2
        memory = '9GB'
        time = '4h'
        disk = '5GB'
    }
    withLabel: medium_mem {
        queue = 'normalbw'
        cpus = 7
        memory = '32GB'
        time = '4h'
        disk = '16GB'
    }
    withLabel: high_mem {
        queue = 'hugemembw'
        cpus = 7
        memory = '256GB'
        time = '4h'
        disk = '100GB'
    }
    
}

singularity.enabled = true
singularity.autoMounts = true